.header {
background: #000;
}

.header__title {
margin: 0 auto;
padding: 20px 15px;
max-width: 1230px;
}

.header__logo-img {
    padding: 15px;
}


@media (min-width: 1400px) and (max-width: 1540px) {
    .header__title {
        max-width: 95%;
        padding: 15px;
    }

    .header__logo-img {
        height: 50px;
        padding: 12px;
    }
}