html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.transaction-layout {
    display: flex;
    padding-top: 80px;
    height: 100vh;
}

.transaction-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #000;
    z-index: 1000;
}

.header__logo-img {
    display: block;
    height: 60px;
    padding: 15px;
    margin: 10px;
}

/* サイドバー */
.transaction-sidebar {
    width: 259px;
    background: #8c8c8c;
    padding: 16px;
    box-sizing: border-box;

    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.sidebar-title-box {
    width: 195px;
    height: 36px;
    margin: 10px auto 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.sidebar-item {
    display: block;
    width: 197px;
    margin: 24px auto;
    padding: 10px;

    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    text-align: center;
}

.sidebar-item:hover {
    background: #eee;
}

.transaction-main {
    flex: 1;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .transaction-main {
        padding: 24px;
    }

    .transaction-container {
        max-width: 1400px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .transaction-sidebar {
        width: 220px;
    }

    .sidebar-item {
        width: 180px;
        font-size: 15px;
    }

    .sidebar-title {
        font-size: 24px;
    }

    .transaction-main {
        padding: 12px;
    }
}
