.mypage-content {
    max-width: 1200px;
    margin: 0 auto;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 30px;
    gap: 30%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.profile__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile__image--default {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name__title {
    font-size: 20px;
    font-weight: bold;
}

.star-/* マイページ用 星評価 */
.user-rating {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.user-rating .star {
    font-size: 25px;
    color: #ccc;
}

.user-rating .star.filled {
    color: #ffd700;
}

.edit__button {
    padding: 8px 25px;
    margin: 0px 20px;
    border-radius: 5px;
    border: 1px solid #f40303;
    text-decoration: none;
    color: #f40303;
    font-weight: bold;
}

.tab-badge {
    margin-left: 6px;
    background: #ff3b3b;
    color: #fff;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: bold;
}

.mypage-tab {
    display: flex;
    gap: 10px;
    font-size: 18px;
    border-bottom: 2px solid #ccc;
}

.content-tab {
    margin-left: 30px;
}

.tab__name {
    text-decoration: none;
    color: #666;
    padding: 5px;
    margin-left: 20px;
    font-weight: bold;
}

.tab__name.active {
    color: #c00;
}

.mypage-item {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-list {
    position: relative;
    padding: 10px;
}

.item-card {
    position: relative;
    padding: 10px;
}

.item__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}

.item-name {
    font-size: 15px;
    text-align: left;
    font-weight: 550;
    margin: 5px;
}

.item__sold {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}

.item__trading {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: orange;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}

.item-image-wrapper {
    position: relative;
}

.unread-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
}
